# kgraph package development
__pycache__/
.pytest_cache/
*.egg-info/
build/
lib/

# model weights
kgraph/kgraph/extraction/nyt-checkpoint-final/

# intermediate data
exp-mcqa/*/*/PGs/
exp-mcqa/*/*/KGs/
exp-mcqa/temp_html
exp-fever/PGs/
exp-fever/KGs/
wikipedia/
wikipedia-fever/
KG_cache/
KG_cache_fever

# API keys
.env