# kgraph package development
__pycache__/
.pytest_cache/
*.egg-info/
build/
lib/

# model weights
kgraph/kgraph/extraction/nyt-checkpoint-final/

# data from experiments
baseline/
exp-mcqa/*/dev
exp-mcqa/*/*/PGs/
exp-mcqa/*/*/KGs/
exp-mcqa/temp_html/
wikipedia/
KG_cache/

# logs
log/
